# Docker on Travis requires sudo.
sudo: required

services:
  - docker

install:
  - REPO=gehlenborglab/higlass-server
  - BRANCH=`echo ${TRAVIS_PULL_REQUEST_BRANCH:-$TRAVIS_BRANCH} | perl -pne 'chomp;s{.*/}{};s/\W/-/g'`
  - echo $BRANCH
  # Try to fill cache from dockerhub rather than starting from scratch.
  - docker pull $REPO:$BRANCH || docker pull $REPO || true
  - docker build --tag image context

script:
  # "set -e" would abort the Travis run,
  # but we still want after_failure if the last line fails.
  - PORT=8888
  - docker run --name higlass-container --detach --publish $PORT:80 image
  - docker ps -a
  - URL=http://localhost:$PORT/api/v1/tilesets/
  - >
      TRY=0;
      until $(curl --output /dev/null --silent --fail --globoff $URL); do
        echo '.';
        (( TRY++ ));
        [[ $TRY -lt 10 ]] || break;
        sleep 1;
      done
  - JSON=`curl $URL`
  - echo $JSON
  - HTML=`curl http://localhost:$PORT/`
  - echo $HTML
  - >
      [ "$JSON" == '{"count": 0, "results": []}' ]
      && ( echo $HTML | grep 'HiGlass' )
      && ( echo $HTML | grep 'Peter Kerpedjiev' )
      && ( echo $HTML | grep 'Department of Biomedical Informatics' )
      && echo "PASS"
  # TODO: Hopefully the homepage will not be a 404. :)

after_success:
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - >
      if [ "$TRAVIS_EVENT_TYPE" == "pull_request" ]; then
        echo "PR!";
        docker tag image $REPO:github-`git rev-parse HEAD`;
        docker tag image $REPO:travis-$TRAVIS_BUILD_ID;
      fi

  - >
      if [ ! -z "$TRAVIS_TAG" ]; then
        echo "Tagged $TRAVIS_TAG!";
        docker tag image $REPO:latest;
        docker tag image $REPO:$TRAVIS_TAG;
      fi

after_script:
  - docker logs higlass-container
  - docker tag image $REPO:$BRANCH && docker push $REPO:$BRANCH
  # Always push to the branch tag, at least, so that it's cached for the next run:
  # Even if this failed, it will save time to download the earlier layers,
  # rather than rebuilding them.